<div id="purchase-panel">
    <h1>Purchase confirmation</h1>
    <h2>Tickets</h2>
    <ul>
        <li th:each="ticket:${tickets}"
            th:text="${ticket}"
        ></li>
    </ul>
    <h1></h1>
    <div>
        <button type="button" id="cancel-btn">Cancel</button>
        <button type="button">Confirm</button>
    </div>
</div>

<script>
    document.getElementById("cancel-btn").addEventListener("click", function() {
        document.getElementById("purchase-panel").remove();
    });
</script>